name: Prod CI/CD
on:
  push:
    branches: [ "prod" ]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      # 빌드 스텝 동일...

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/onmoim:latest

      - name: Deploy to Prod Server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/onmoim:latest
            docker stop app || true
            docker rm app || true
            docker run -d --name app \
              -p 8080:8080 \
              ${{ secrets.DOCKER_USERNAME }}/onmoim:latest
